<div class="mt-4">
    <h2>Khóa học của tôi</h2>
    <a href="/me/trash/courses">Thùng rác</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
          {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.content}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-model" data-id="{{this._id}}">Xóa</a>
                </td>
            </tr>
            {{else}}
                  <tr aria-colspan="5">
                    <td>
                      Bạn chưa tạo khóa học.
                      <a href="/courses/create">Đăng khóa học</a>
                      </td>
                  </tr>
          {{/each}}
        </tbody>
</table>

<form method="POST" name="form-delete-course" action=""></form>

<div class="modal" id="delete-course-model" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa dữ liệu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger"  >Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
</div>
 {{!-- Lấy id đã truyền vào nút xóa khi mở modal --}}
<script>
    document.addEventListener('DOMContentLoaded',function(){ 

     var courseId;
      $('#delete-course-model').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id') // Extract info from data-* attributes
        });
        var  btnDeleteCourse= document.getElementById('btn-delete-course');
        var formDelete= document.forms['form-delete-course'];
         btnDeleteCourse.onclick=function(){
            
           // xét action của form-delete-course 
           formDelete.action='/courses/'+courseId+'?_method=DELETE';
           formDelete.submit();
         }
}); 
</script>